
.shop_cart div p{
    top: 50px;
    /* border: 2px solid red; */
    left: 230px;
    cursor: pointer;
    position: absolute;
}
.shop_cart div img{
    /* box-shadow: 0px 0px 1px grey; */
    /* padding-left:4em ; */
    margin-left: 1.5em;
    margin-top: 2em;
}
.shop_cart div p:hover{
    color: blanchedalmond;
}

.shop_cart div figure figcaption{
    text-align: center;
    padding-top: 0.5em;
    font-size: 28px;
    min-width: 100px;
    /* margin-left: 100px; */
    /* display: inline; */
    /* border: 2px solid rgb(63, 222, 9); */
}
#p3{
   font-size: 18px;
   padding-top: 1em;
   display: inline-block;
   font-weight: 100;
   /* border: 2px solid red; */
   margin-left: 10px;
   text-decoration:line-through;
}
#p2{
    font-size: 18px;
    padding-top: 1em;
    display: inline-block;
    font-weight: 100;
    /* border: 2px solid red; */
    margin-left: 20px;
}
#p4{
    font-size: 18px;
    padding-top: 1em;
    display: inline-block;
    font-weight: 100;
    /* border: 2px solid red; */
    margin-left: 10px;
}
.shop_cart_hover{
    /* border: 2px solid red; */
    position: absolute;
    min-width: 240px;
    display: flex;
    left: 28px;
    justify-content: center;
    align-items: center;
    /* display: none; */
    font-size: 20px;
    background-position: top;
    background-image: linear-gradient(to top,black 90%,transparent 10%);
    background-size: 10px 1000px;
    color:aliceblue;
    transition: background-position 3s 0.01s linear;
    min-height: 50px;
    top: 240px;
}
.shop_cart div:hover .shop_cart_hover{
    background-position: bottom;
    color: rgb(245, 245, 245);
    text-decoration: underline;
    cursor: pointer;
}
