.outer_image_make{
    min-width: 1500px;
    min-height: 180px;
    /* border: 2px solid red; */
    position: relative;
    overflow: hidden;
    background-color: rgb(244, 244, 244);
}
#img_make{
    mix-blend-mode: multiply;
    margin-left: 100px;
position: absolute;
}
.outer_image_make div h1{
    position: absolute;
    left: 600px;
    font-weight: 400;
    font-size: 80px;
    margin-top: 50px;
}
