.PrivacyPolicyMiddlediv{
    /* border: 2px solid rgb(255, 4, 4); */
    min-width: 800px;
    min-height: 1600px;
    margin-top:8em;
    margin-left:14em;
    margin-bottom: 100px;
    margin-right:10em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.PrivacyPolicyMiddlediv div{
    /* border: 2px solid red; */
    padding: 2em;
    min-width: 700px;
    min-height: 200px;
}
.PrivacyPolicyMiddlediv div h1{
    font-weight: 400;
    margin-bottom: 30px;
}
.PrivacyPolicyMiddlediv div p{
    line-height: 35px;
    opacity: 0.9;
    font-weight: 100;
    font-size: 17px;
}